Repository ununu-p2p/ink-desktop, pull requests merged in 2020-02, with the labels that each got.

#48 Init Refeactor
  .travis.yml
  README.md
  backend/handlers.js
  lib/debug.js
  lib/git-server.js
  lib/git/utils.js
  lib/ink-file.js
  lib/project.js
  package-lock.json
  package.json
Labels: backend, enhancement

#51 use project IDs
  backend/handlers.js
  lib/parser.js
  lib/project.js
  lib/resource.js
  lib/store/migrations.js
  lib/store/project-store.js
  lib/store/store.js
  main/test/store.js
  main/test/test-init.js
  package-lock.json
  package.json
  renderer/effects/useProjectState.js
  renderer/pages/project/[id].js
Labels: backend

#59 fix webpack environment args
  args.js
  nextron.config.js
  renderer/next.config.js
Labels: backend, main, tooling

#60 iterate project page
  package-lock.json
  package.json
  renderer/components/CommitGraph.js
  renderer/components/FlexContainer.js
  renderer/components/Header.js
  renderer/components/Input.js
  renderer/components/PanelHeader.js
  renderer/components/Position.js
  renderer/components/ShareImage.js
  renderer/components/Tabs.js
  renderer/components/Triangle.js
  renderer/components/TypeAhead.js
  renderer/components/UserImage.js
  renderer/layout/theme.js
  renderer/mocks.js
  renderer/pages/bg.jpeg
  renderer/pages/dashboard.js
  renderer/pages/home.js
  renderer/pages/login.js
  renderer/pages/project.js
  renderer/pages/project/[id].js
Labels: frontend

#47 Add handler for git clone
  backend/handlers.js
  lib/git/utils.js
  lib/project.js
  renderer/pages/dashboard.js
Labels: backend, enhancement, frontend

#62 interactive modal dialog for cloning
  package-lock.json
  package.json
  renderer/components/CommitGraph.js
  renderer/components/FlexContainer.js
  renderer/components/ModalDialog.js
  renderer/components/ModalSpinner.js
  renderer/components/PanelHeader.js
  renderer/components/Space.js
  renderer/components/Tabs.js
  renderer/components/Text.js
  renderer/effects/useBodyLockScroll.js
  renderer/effects/useFade.js
  renderer/effects/useGrowRightAndFade.js
  renderer/effects/useOnClickOutside.js
  renderer/layout/colors.js
  renderer/layout/inter.js
  renderer/layout/theme.js
  renderer/pages/_app.js
  renderer/pages/dashboard.js
  renderer/pages/home.js
  renderer/pages/login.js
  renderer/pages/project.js
Labels: frontend
