Repository ununu-p2p/ink-desktop, pull requests merged in 2020-03, with the labels that each got.

#71 properly kill backend process when exiting app
  main/app.js
  main/helpers/fork-backend.js
Labels: backend

#80 fix dependency vulnerabilities
  package-lock.json
  package.json
Labels: vulnerability

#70 refresh parser on file change
  backend/handlers.js
  backend/pushEvent.js
  lib/parser.js
  lib/project-watcher.js
  lib/project.js
  lib/resource.js
  main/app.js
  main/backend.js
  package-lock.json
  package.json
  renderer/components/Dashboard.js
  renderer/components/Project/index.js
  renderer/effects/useProjectState.js
  renderer/layout/images/mesh.jpeg
  renderer/pages/login.js
Labels: backend, frontend

#84 review & upgrade dependencies (WIP)
  lib/project.js
  lib/store/migrations.js
  main/app.js
  package-lock.json
  package.json
  renderer/layout/theme.js
  renderer/next.config.js
Labels: tooling
